li {
  display: inline;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:gray;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

.active, .submit{
  background-color: #b200d6;
} 

.submit {
  width: 100px;
  height: 42px;
  color: white;
}